/*---------------------GLOBALS---------------------*/
body
{
	background-repeat: no-repeat;
}
canvas
{
	width: 800px;
	height: 800px;
	border: solid 1px;
	background-image:url(../img/map.png); map.png
}
/*---------------------DIVS---------------------*/

/*---------------------TEXTS---------------------*/

/*---------------------IMGS---------------------*/

/*---------------------AUTRES---------------------*/