/*---------------------GLOBALS---------------------*/
body
{
	background-repeat: no-repeat;
}
canvas
{
	width: 840px;
	height: 840px;
	border: solid 1px;
	background-image:url(../img/map.png);

}
/*---------------------DIVS---------------------*/

/*---------------------TEXTS---------------------*/

/*---------------------IMGS---------------------*/

/*---------------------AUTRES---------------------*/