body
{
	background-image: url("../img/back/back.png");
	background-attachment: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div	
{
	position: relative;
	top: 400px;
	left: 0%;
}
.jouer_align
{
	text-align: center;

}
.jouer_align img
{
	width: 25%;
}

.autre_align
{
	text-align: center;
}
.autre_align img
{
	width: 8%;
}