/*---------------------GLOBALS---------------------*/
body
{
	background-image: url("../img/back/back_j2.png");
	background-attachment: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
canvas
{
	width: 840px;
	height: 840px;
	border: solid 1px;
	background-image:url(../img/map_grille.png);

}


/*---------------------DIVS---------------------*/
.easter
{
	width: 100px;
	height: 450px;
	position: absolute;
	top: 300px;
	left: 1525px;
}

/*---------------------TEXTS---------------------*/

/*---------------------IMGS---------------------*/

/*---------------------AUTRES---------------------*/